<div class="footer-basic">
  <div class="social">
    <a target="_blank" href="#"><img src="https://img.icons8.com/fluency/43/000000/facebook-new.png" /></a>
    <a target="_blank" href="#"><img src="https://img.icons8.com/color/45/000000/linkedin-circled--v4.png" /></a>
    <a target="_blank" href="#"><img src="https://img.icons8.com/color/48/000000/twitter--v1.png" /></a>
    <a target="_blank" href="#"><img src="https://img.icons8.com/doodle/40/000000/youtube--v1.png" /></a>
  </div>
  <ul class="list-inline">
    <li class="list-inline-item ffn"><a>About Us</a></li>
    <li class="list-inline-item ffn"><a >Feedback</a></li>
    <li class="list-inline-item ffn"><a >Terms & Privacy</a></li>
  </ul>
  <p class="copyright ffn">Shafiqur Rohman © 2022</p>
</div>

